[Unit]
Description=Rig Monitor Service
After=riginit.service

[Service]
User=ubuntu

ExecStart=/usr/bin/python3 /home/ubuntu/service/rig/rig_monitor.py > /home/ubuntu/service/rig/rig_monitor.log 2>&1

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
