[Unit]
Description=Rig Init Service
After=pigpio.service

[Service]
User=ubuntu

ExecStart=/usr/bin/python3 /home/ubuntu/service/riginit.py

#ExecStart=/usr/bin/python3 /home/ubuntu/service/rig -pm wakeup
#ExecStartPost=/bin/sleep 0.3
#ExecStartPost=/usr/bin/python3 /home/ubuntu/service/rig -pm reset
#ExecStartPost=/bin/sleep 0.3
#ExecStartPost=/usr/bin/python3 /home/ubuntu/service/rig -fp 32

Restart=on-failure

[Install]
WantedBy=multi-user.target
